*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
.AndroidStudio3.1/
.BigNox/
.PyCharmCE2018.3/
.anaconda/
.android/
.atom/
.bash_history
.config/
- \343\202\263\343\203\224\343\203\274.gitconfig
.csslintrc
.designer/
.dotnet/
.eclipse/
.eslintrc
.gitconfig
.gradle/
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.matplotlib/
.minttyrc
.node_repl_history
.ssh/
.thumbnails/
.tooling/
.webclipse.properties
3D Objects/
Anaconda3/
AndroidStudioProjects/
AppData/
Contacts/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
EosBetTest/
Evernote/
Favorites/
Google \343\203\211\343\203\251\343\202\244\343\203\226/
IntelGraphicsProfiles/
Links/
MicrosoftEdgeBackups/
Music/
NTUSER.DAT
NTUSER.DAT{bad6b026-69a0-11e8-9c65-d05099953ecd}.TxR.0.regtrans-ms
NTUSER.DAT{bad6b026-69a0-11e8-9c65-d05099953ecd}.TxR.1.regtrans-ms
NTUSER.DAT{bad6b026-69a0-11e8-9c65-d05099953ecd}.TxR.2.regtrans-ms
NTUSER.DAT{bad6b026-69a0-11e8-9c65-d05099953ecd}.TxR.blf
NTUSER.DAT{bad6b027-69a0-11e8-9c65-d05099953ecd}.TM.blf
NTUSER.DAT{bad6b027-69a0-11e8-9c65-d05099953ecd}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{bad6b027-69a0-11e8-9c65-d05099953ecd}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
PycharmProjects/
Saved Games/
Searches/
Trading view \343\202\271\343\202\257\343\203\254\343\202\244\343\203\224\343\203\263\343\202\260.ipynb
Untitled1.ipynb
Videos/
base/
coffeelint.json
config.json
config.py
gets minute chart.ipynb
hoge.png
inittk.ini
inst.ini
last.csv
mercurial.ini
mex_last.csv
mex_origin_ohlcv.csv
mex_watcher/
node_modules/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
nuuid.ini
origin_ohlcv.csv
package-lock.json
source/
to_view_origin.csv
tslint.json
tuned_bitmex_websocket.py
vmlogs/
wt/