<html>
  <head>
    <title>Haruki's blog</title>
  </head>
  <body>
    <div class="opening">
      <h1>Djangoはめちゃくちゃめんどいということ</h1>
      <p>なぜ難しいのか</p>
      <em>それはHTML,CSS,Python,HTTPが複雑に絡まったものをまとめ上げているから</em>
      <strong>じゃあ何時間勉強すればいいの？</strong>
      <br>
      <b>3時間ぐらいかな</b>
    </div>
    <br>
    <br>
    <div class="affi">
      <em>とりあえずbitmexしときな？</em>
      <a href="https://www.bitmex.com/app/trade/XBTUSD">BitMEX登録リンク</a>
    </div>
    <p>Hi there!</p>
    <p>It works!</p>
  </body>
</html>
